/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Montserrat&display=swap');
* {
  box-sizing: border-box;
}

button {
  display: flex;
  padding: 10px;
  margin: 10px;
}

.border {
  border: solid;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-content: center;
  margin: 8px;
  padding: 8px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: white;
  border: solid;
  border-radius: 25px;
  flex: 1;
  padding: 10px;
  margin: 5px;
  text-align: center;
}
.no-border-box {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
}
.li-box {
  display: block;
}
body {
  background-image: url(images/norwegian-flag-1.jpg);
  background-size: cover;
}

h1, h2, h3, p, li, form, button {
  font-family: 'Julius Sans One';
}
form input[type="radio"] + label {
  display: inline;
  color: #000;
  font-size: 24px;
  font-weight: bold;
}
form {
  padding: 10px;
  margin: 0 10px 10px 10px;
}
ul li {
  list-style: none;
  font-size: 20px;
}

.correct-answer {
  border: solid;
  background-color: lightgreen;
  padding: 7px;

}
.incorrect-answer {
  border: solid;
  background-color:#ffcccb;
  padding: 7px;

}

@media all and (min-width: 800px){
  .container {
    margin: 0;
    padding: 10px;
    justify-content: center;
  }
  .box {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 20%;
    margin-right: 20%;
  }
  button {
    margin: 10px;
    padding: 10px;
  }
}